<app-game-control (numberCreated)="onNumberAdded($event)"></app-game-control>
<hr>
<h2>Numbers</h2>
<p *ngIf="oddNumbers.length === 0 && evenNumbers.length === 0; else numbes_panel">No numbers yet!</p>
<ng-template #numbes_panel>
  <div class="number_panel">
    <div class="odd_panel">
      <h3>Odd numbers</h3>
      <ul>
        <app-odd
          *ngFor="let n of oddNumbers"
          [num]="n"
        ></app-odd>
      </ul>
    </div>
    <div class="even_panel">
      <h3>Even numbers</h3>
      <ul>
        <app-even
          *ngFor="let n of evenNumbers"
          [num]="n"
        ></app-even>
      </ul>
    </div>
  </div>
</ng-template>
